{% extends 'books/base.html' %}
{% load static %}
{% block title %}Book List{% endblock %}
{% block content %}
  <main class="books-container">
      <h2>Поиск</h2>
       <form method="post" novalidate>
            {% csrf_token %}
            <input type="text" name="q">
            <button type="submit">Поиск</button>
        </form>
        {% for book in books %}
        <a href="{% url 'update-book' book.id %}">
            <div class="book-card">
            <h2 class="book-title">{{ book.title }}</h2>
            <p class="book-author">Автор: {{ book.author }}</p>
            <p class="book-publisher">Издатель: {{ book.publisher }}</p>
            <p class="book-genre">Жанр: {{ book.genre }}</p>
            <a href="{% url 'delete-book' book.id %}"><p>Удалить книгу</p></a>
        </div></a>
        {% endfor %}
    </main>
<!--
<h1>Книги</h1>
<ul>
    {% for book in books %}
    <li>
        <a href="{% url 'update-book' book.id %}">{{ book.title }}</a> |
        <a href="{% url 'delete-book' book.id %}">Удалить</a>
    </li>
    {% endfor %}
</ul>
!-->
<a href="{% url 'create-book' %}">Добавить новую книгу</a>
{% endblock %}